* {
  margin: 0px;
  padding: 0px;
}
.invoice-box .v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 40px !important;
}
.template-selectbox-wrapper
  .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
  > .v-input__control
  > .v-input__slot
  fieldset {
  border: 1px solid #f6f5f9 !important;
  outline: none;
  background-color: #f6f5f9;
}
.template-selectbox-wrapper
  .v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  border: none !important;
}
.template-selectbox-wrapper {
  position: relative;
}
.template-selectbox-wrapper::after {
  content: "";
  position: absolute;
  top: 14px;
  background-image: url("./images/select-icon.svg");
  width: 60px;
  right: 10px;
  height: 60px;
}
.v-text-field--outlined > .v-input__control > .v-input__slot {
  border: 1px solid #dbdff3 !important;
  background-color: #fff !important;
}
.invoice-modalwrapper
  .v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  min-height: 40px !important;
}
.sender-modal-mainwrapper
  .v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  min-height: 45px !important;
  border-color: 1px solid #dbdff3 !important;
  border-radius: 3px !important;
}
.currency-symbol-mainwrapper
  .v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  min-height: 30px !important;
}
table.summary-table-mainwrapper {
  width: 40% !important;
  float: right;
}
table.summary-table-mainwrapper thead tr {
  background: #f5f5f5;
  text-align: center;
  padding: 8px 2px;
  font-size: 14px;
}
table.summary-table-mainwrapper thead tr td {
  font-weight: 700;
}
table.summary-table-mainwrapper tbody tr td {
  font-size: 14px;
}
.add-new-iteamswrapper button {
  width: 100%;
  box-shadow: none !important;
  background-color: #fbfbfb !important;
  color: #888 !important;
  font-size: 14px !important;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  height: 50px !important;
  border: 2px dashed #ddd;
}
.add-new-iteamswrapper button:hover {
  background-color: #fff !important;
  box-shadow: none !important;
  border: 2px solid #257eff;
  color: #257eff !important;
}
.add-new-iteamswrapper button::before {
  opacity: 0 !important;
}
.add-new-iteamswrapper {
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.invoice-summary-wrapper {
  background: #f5f5f5;
  text-align: center;
  padding: 8px 2px;
  font-size: 14px;
  border-top: 1px solid #ddd;
}
.subtotal-heading {
  text-align: left;
  border-top: 1px solid #ddd;
  font-size: 14px;
}
.subtotal-value {
  text-align: right;
  border-top: 1px solid #ddd;
  font-size: 14px;
}
.description-mainwrapper {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  background-color: #fbfbfb;
}
.input-terms-mainwrapper input::placeholder {
  font-style: italic !important;
  font-size: 14px !important;
}
.input-terms-mainwrapper input {
  width: 100%;
  border: 2px dashed #ddd;
  height: 40px;
  padding-left: 15px;
}
.input-terms-mainwrapper input:focus-visible {
  outline: none;
}
.input-terms-mainwrapper input:hover {
  border: 2px solid #257eff;
}
.invoice-mainbodywrapper {
  margin-top: 15px;
}
.sender-contentbodywrapper {
  background-image: url("./images/sender-name.svg");
  background-size: 33px;
  padding-left: 5px;
}
.recipientbackground-wrapper {
  background-image: url("./images/recipient-name.svg");
}
.drag-filebackground {
  background-image: url("./images/drag-file.svg");
  background-size: 36px;
  padding-left: 50px;
  background-position: left;
}
.sender-contentbodywrapper span i {
  display: none;
}
.invoice-summary-wrapper h2 {
  font-size: 16px;
}
.invoice-box table tr.heading td {
  font-size: 13px;
  padding: 8px 10px;
  font-weight: 800;
  background: #f5f5f5;
  text-align: left;
  color: #3d3c40;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.bank-template-mainwrapper:hover .invoice-type-innerwrapper {
  border-radius: 3px;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.015);
  border: 2px dashed rgba(0, 0, 0, 0.05);
  opacity: 1;
}
.invoice-type-innerwrapper {
  text-align: left;
  height: auto !important;
  position: relative;
  padding: 0px 0px 18px 15px;
  border: 2px dashed #fff;
}
.select-fileinner-wrapper {
  width: 75px;
}
.select-fileinner-wrapper:hover {
  background-color: #285cff;
  color: #fff !important;
  height: 100%;
  border-radius: 3px 3px 0px 0px;
  cursor: default;
}
.select-fileinner-wrapper:hover p {
  color: #fff !important;
  cursor: default;
}
.invoice-box table.responsive-table tbody {
  position: relative;
  background-color: #fbfbfb;
}
.invoice-box table.responsive-table tbody:hover .table-delete-edit-btnwrapper {
  opacity: 1;
}
.table-delete-edit-btnwrapper {
  position: absolute;
  top: 10px;
  right: -34px;
  opacity: 0;
}
.table-delete-edit-btnwrapper i {
  color: #bbb;
  margin-right: 10px;
  font-size: 17px;
}
.table-delete-edit-btnwrapper i.pencil-iconwrapper:hover {
  color: #000 !important;
}
.table-delete-edit-btnwrapper i.trash-iconwrapper:hover {
  color: #000 !important;
}
.getlink-modalwrapper .v-card__text p {
  color: #333;
  font-size: 15px;
}
.delete-invoicemodal p {
  font-size: 25px !important;
  padding: 20px 0px;
}
.delete-invoicemodal .v-card__text {
  padding: 25px 8px 10px !important;
}
.delete-invoice-modalbtnwrapper {
  text-align: right;
}
.delete-invoice-modalbtnwrapper button.delete-btnwrapper {
  color: #fff !important;
  background-color: #ea736a !important;
  box-shadow: none !important;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 13px;
  height: 32px !important;
  border-radius: 3px;
}
.delete-invoice-modalbtnwrapper button.cancel-btnwrapper {
  text-transform: capitalize;
  font-size: 13px;
  box-shadow: none !important;
  height: 32px !important;
  border-radius: 3px;
  background: #285cff !important;
  color: #fff !important;
}
.invoice-details-wrapper {
  margin: 30px 0px !important;
}
.delete-invoicemodal .v-card__title {
  background: #fafafa;
  border-bottom: 1px solid #e1e6ef;
}
.delete-invoicemodal .v-card__text {
  padding: 8px 8px 10px !important;
}
.set-invoice-modal button {
  text-transform: capitalize;
  margin: 0px !important;
  margin-top: 10px !important;
}
.set-invoice-modal {
  display: flex;
}
.registraction-inpu-modal {
  text-align: left;
}
.registraction-inpu-modal input {
  border-bottom: 2px dotted #aaa;
  margin-bottom: 2px;
  margin-left: 8px;
}
.registraction-inpu-modal input:focus-visible {
  outline: none;
}
.registraction-inpu-modal input:focus {
  border-color: #3a67ff !important;
}
.registraction-inpu-modal input[type="text"]:focus {
  background: #fff !important;
  color: #257eff !important;
}
.registraction-inpu-modal i {
  font-size: 15px;
  vertical-align: bottom;
  margin-bottom: 3px;
  border-bottom: 1px solid #aaa;
}

/******24-12-2024**************/

.date-time-picker .field-input {
  height: 24px !important;
  /* width: 150px !important; */
  min-height: 24px !important;
  padding-right: 10px !important;
  font-size: 13px !important;
  outline: none !important;
  border-color: #fff !important;
  outline: none !important;
  background-color: transparent !important;
}
.date-time-picker .custom-button.round {
  display: none !important;
}
/* .date-time-picker .field-input:hover{
    border-radius: 3px;
    cursor: pointer;
    z-index: 0;
    background: rgba(0, 0, 0, 0.015);
    border: 2px dashed rgba(0, 0, 0, 0.05) !important;
    opacity: 1;
} */
.invoice-details-wrapper .v-input.form-control {
  outline: none !important;
}
.invoice-details-wrapper
  .v-text-field--outlined
  > .v-input__control
  > .v-input__slot {
  outline: none !important;
  min-height: 0px !important;
  height: 0px !important;
}
.datetimepicker .datepicker {
  z-index: 999 !important;
}

.v-input__control,
.v-input__slot,
.v-select__slot {
  border: 0;
}
.invoice-details-wrapper .v-input__slot::before {
  border-style: none !important;
}

.invoice-details-wrapper .v-input.form-control {
  border-radius: 3px;
  cursor: pointer;
  z-index: 0;
  background: rgba(0, 0, 0, 0.015);
  border: 2px dashed rgba(0, 0, 0, 0.05);
  opacity: 1;
  padding: 0px !important;
  width: 100%;
  height: 24px !important;
}
.delete-invoicemodal label {
  text-align: left;
}
.custom-modalinnerwrapper {
  text-align: left;
}
.custom-modalinnerwrapper .v-card__title {
  height: 50px;
}
.country-selectb .v-select__selection--comma {
  font-size: 13px;
}
.country-selectb input {
  display: none;
}
.invoice-box table.responsive-table tbody tr.item {
  display: block;
}
td.description-tablebody {
  float: left;
  width: 100% !important;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.invoice-box table tr.heading td:nth-child(1) {
  width: 200px;
}
.invoice-box table tr.heading td:nth-child(2) {
  width: 100px;
}
.invoice-box table tr.heading td:nth-child(3) {
  width: 90px;
}
.invoice-box table tr.heading td:nth-child(4) {
  width: 100px;
}
.invoice-box table tr.heading td:nth-child(5) {
  width: 110px;
}
.invoice-box table tr.item td:nth-child(1) {
  width: 200px;
}
.invoice-box table tr.item td:nth-child(2) {
  width: 100px;
}
.invoice-box table tr.item td:nth-child(3) {
  width: 90px;
}
.invoice-box table tr.item td:nth-child(4) {
  width: 100px;
}
.invoice-box table tr.item td:nth-child(5) {
  width: 110px;
}
